h1, h2, p {
    text-align: center;
    color: white;
	font-family: Arial;
}

body {
	background-color: #249DD1;
}

a {
	color: white;
	font-size: 20px;
	font-family: Arial;
	
}

.classes {
	width:270px;
	margin: 0 auto;
	text-align: left;
	color: white;
	font-family: Arial;
}

.projects {
	width:350px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: Arial;
}

/* New Stuff */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
